{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Especialidades</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for especialidade in especialidades %}
            <tr>
                <td><a href="{{ path('especialidades_show', { 'id': especialidade.id }) }}">{{ especialidade.id }}</a></td>
                <td>{{ especialidade.nombre }}</td>
                <td>{% if especialidade.isActivo %}ACTIVO{% else %}INACTIVO{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('especialidades_show', { 'id': especialidade.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('especialidades_edit', { 'id': especialidade.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('especialidades_new') }}">Crear una Nueva Especialidad</a>
        </li>
    </ul>
{% endblock %}
