{% extends 'Template/base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <div class="panel panel-default no-bd">
            <div class="panel-header bg-dark">
                <h2 class="panel-title"><strong>Listado</strong> de Medicos</h2>
            </div>
            <div class="panel-body bg-white">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form role="form" class="form-validation" novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-12">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Especialidad</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for medico in medicos %}
                                            <tr>
                                                <td><a href="{{ path('medicos_show', { 'id': medico.id }) }}">{{ medico.id }}</a></td>
                                                <td>{{ medico.nombre|title }}</td>
                                                <td>{{ medico.apellido|title }}</td>
                                                <td>{{ medico.especialidad|title }}</td>
                                                <td>{% if medico.isActivo %}Activo{% else %}Inactivo{% endif %}</td>
                                                <td>
                                                    <a class="btn btn-sm btn-primary" href="{{ path('medicos_show', { 'id': medico.id }) }}">Mostrar</a>
                                                    <a class="btn btn-sm btn-warning" href="{{ path('medicos_edit', { 'id': medico.id }) }}">Editar</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            {#<div class="text-center  m-t-20">#}
                            {#<button type="submit" class="btn btn-embossed btn-primary">Sign Up</button>#}
                            {#<button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>#}
                            {#</div>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

