{% extends 'Template/base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <div class="panel panel-default no-bd">
            <div class="panel-header bg-dark">
                <h2 class="panel-title"><strong>Mostrar Medico</strong>: {{ medico.nombre|title }} {{ medico.apellido|title }}</h2>
            </div>
            <div class="panel-body bg-white">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Especialidad</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ medico.id }}</td>
                                        <td>{{ medico.nombre|title }}</td>
                                        <td>{{ medico.apellido|title }}</td>
                                        <td>{{ medico.especialidad|title }}</td>
                                        <td>{% if medico.isActivo %}Activo{% else %}Inactivo{% endif %}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="text-center  m-t-20">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Borrar" class="btn btn-embossed btn-danger">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


